@font-face {
    font-family: 'Patrick Hand';
    src: url(PatrickHand-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Patrick Hand';
}

canvas {
    height: 320px;
    width: 240px;
    background-image: url('/img/game/background.png')
}

#startScreen,
#scoreDisplay,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#creditsDisplay {
    position: absolute;
    left: 50%;
}

#scoreDisplay {
    font-size: 23px;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .3);
}

#startScreen,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#creditsDisplay {
    line-height: 18px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#startScreen p,
#pauseDisplay p {
    font-size: 18px;
}

#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#gameOver,
#respawnPossibilityScreen,
#creditsDisplay {
    display: none;
    background-color: rgba(255, 255, 255, .45);
}

#gameOverDisplay p {
    font-size: 15px;
}

#tutorialDisplay p {
    font-size: 22px;
    line-height: 22px;
}

#progress-wraper {
    margin: -10px 0 -7px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px
}

#progressbar {
    height: 15px;
    /* width: 20%; */
    background-color: black;
    border-radius: 2px;
}

.animate {
    animation-name: expire;
    animation-delay: .3s;
    animation-duration: 4s;
}

#credits {
    z-index: 100;
    position: absolute;
    font-size: 17px;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#creditsDisplay {
    background-color: rgba(255, 255, 255, .7);
    font-size: 17px;
    padding: -5px;
}

#creditsDisplay ul {
    text-align: left;
}

a {
    color: #1515df;
    text-decoration: none;
}

a:focus {
    color: #00e;
    text-decoration: underline;
}

@keyframes expire {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 3.4px;
    font-size: 18.4px;
}