@font-face {
    font-family: 'Patrick Hand';
    src: url(patrickhand.woff);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Patrick Hand';
}

body div {
    overflow: hidden;
}

div {
    overflow: hidden;
}

canvas {
    height: 320px;
    width: 240px;
    background-image: url('/img/game/background.png');
    background-size: cover;
}

#startScreen,
#scoreDisplay,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#informationDisplay,
#loadingAd {
    position: absolute;
    left: 50%;
}

#scoreDisplay {
    font-size: 23px;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .3);
}

#startScreen,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#informationDisplay,
#loadingAd {
    position: absolute;
    line-height: 18px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#startScreen p,
#pauseDisplay p {
    font-size: 18px;
}

#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay,
#gameOver,
#respawnPossibilityScreen,
#informationDisplay {
    display: none;
    background-color: rgba(255, 255, 255, .45);
}

#gameOverDisplay p {
    font-size: 15px;
}

#tutorialDisplay p {
    font-size: 22px;
    line-height: 22px;
}

#progress-wraper {
    margin: -10px 0 -7px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px
}

#progressbar {
    height: 15px;
    background-color: black;
    border-radius: 2px;
}

.animate {
    animation: 5s linear .3s expire;
    width: 0;
}

#credits {
    z-index: 100;
    position: absolute;
    font-size: 17px;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#informationDisplay {
    background-color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 0px;
    line-height: 15px;
}

#informationDisplay h1 {
    font-size: 31px;
}

#informationDisplay ul {
    text-align: left;
}

a {
    color: #1515df;
    text-decoration: none;
}

a:focus {
    color: #00e;
    text-decoration: underline;
}

@keyframes expire {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 3.4px;
    font-size: 18.4px;
    overflow: hidden;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loadingAd {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.load {
    width: 100px;
    height: 100px;
    margin: 110px auto 0;
    border: solid 7px #fff;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}