@font-face {
    font-family: 'Patrick Hand';
    src: url(PatrickHand-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Patrick Hand';
}

canvas {
    height: 320px;
    width: 240px;
    background-image: url('/img/background.png')
}

#startScreen,
#scoreDisplay,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay {
    position: absolute;
    left: 50%;
}

#scoreDisplay {
    font-size: 23px;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .3);
}

#startScreen,
#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay {
    line-height: 18px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#startScreen p,
#pauseDisplay p {
    font-size: 18px;
}

#gameOverDisplay,
#pauseDisplay,
#tutorialDisplay {
    display: none;
    background-color: rgba(255, 255, 255, .4);
}

#gameOverDisplay p {
    font-size: 15px;
}

#tutorialDisplay p {
    font-size: 22px;
    line-height: 22px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 3.4px;
    font-size: 18.4px;
}